@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body{
    font-family: 'Lato', sans-serif;
    background-color:#ffafbd;
    display: flex;
}

.icon-bar{
    width:200%;
    background-color:white;
    overflow:auto;
    display:flex;
}

.icon-bar{
    float:left;
    text-align:center;
    width:20%;
    font-size:36px;
    padding:12px 0;
    transition:all 0.3s ease;
    color:white;
}

.icon-bar a:hover{
    background-color:yellow;
}

.active{
    background-color:red;
}

