@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body{
    font-family: 'Lato', sans-serif;
    display: flex;
}

.bg{
    background:url('https://media.istockphoto.com/id/1294997127/vector/welcome-concept-team-of-people.jpg?s=612x612&w=0&k=20&c=iZvXMDaIasddC5_NBgt-V1x80--N5G3pOxAit_S5ttQ=')
    no-repeat center center/cover;
    width:100vw;
    height:100vh;
    position:absolute;
}

.icon-bar{
    width:200%;
    background-color:yellow;
    overflow:auto;
    display:flex;
}

.icon-bar a{
    float:left;
    text-align:center;
    width:30%;
    font-size:36px;
    padding:12px 0;
    transition:all 0.3s ease;
    color:white;

}

.icon-bar a:hover{
    background-color:yellow;
}

.active{
    background-color:green;
}

